body{
    background-image: url(../recipe-website/img/background.jpg);
    font-family:sans-serif;    
}
main{
    background-color: azure;
    align-self: center;
    margin-right: 175px;
    margin-left: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 15px;
}

#disp {
    justify-content: center;
    align-content: center;
}

header{
    text-align: center;
}   
footer{
    align-items: center;
    text-align: center;
}
    

#Ingredients{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #e8dbd3;
    border-radius: 25px;
}
.darkbrown{
    color: #75474a;
}
/*h3{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}*/
.large{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
img {
   /*border-radius: 15px;*/
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    border: 5px solid #75474a;
  }
#boxed{
    background-color: #75474a;
    padding: 20px;
    border-radius: 15px;
    margin-left: 550px;
    margin-right: 550px;
}
#navigator{
    /*color: #75474a;*/
    text-align: right;
}
.white{
    color: azure;
}